
/***************signin****************/
.signin{
  display: flex;
  flex-wrap: wrap;
  background-image: url(../../../assets/images/wp7337255-game-of-thrones-poster-wallpapers.jpg);
  background-position: center;
  height: 92.2vh;
}
.layer{
  background-color:rgba(0,0,0,.5);
  width: 100%;
  display: flex;
  align-items: center;
}
.signin .formgroup{
  width: 25%;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  padding: 2em 2em;
  border-radius: 2em;
  background-color: rgba(0, 0, 0, 0.3);
}
.signin div h1{
  color: RGB(11,113,217);
  padding-bottom: .2em;
}
.signin div input{
  margin: .5em 0;
  border-radius: .2em;
  outline: none;
  border: none;
  padding: .3em;
  padding-left: .5em;
}

.signin div input.ng-invalid.ng-touched{
  border: 3px solid rgb(255, 0, 0);
}
.signin button{
  background-color:#48cae4;
  color: rgb(255, 255, 255);
  border-radius: 2em;
  border: none;
  padding: .3em;
  margin: .3em 0;
}
.signin button:valid{
  background-color: RGB(11,113,217);
}
.signin span{
  color: rgb(255, 255, 255);
}
.error{
  color: rgb(255, 0, 0) !important;
  padding-left: .5em;
  text-align: left;
}
