<section class="signin">
  <div class="layer">
      <form class="formgroup" (ngSubmit)='onSubmit(f)' #f='ngForm'>
            <h1>Login</h1>
            <input type="email" name="email" placeholder="email" ngModel required #email='ngModel'>
            <input type="password" name="password" placeholder="password" ngModel required #password='ngModel'>
            <div class="error" *ngIf='error'><span style="color: red;">{{ error }}</span></div>
            <button type="submit" [disabled]='!f.valid'>Login</button>
            <span>New on MOVIESFLIX ?<a routerLink='../../auth/sign'>signup</a></span>
      </form>
  </div>
</section>
