<section class="signin">
    <div class="layer">
        <form class="formgroup" (ngSubmit)='onSubmit(f)' #f='ngForm'>
              <h1>Sign up</h1>
              <input type="email" name="email" placeholder="email" ngModel required email #email='ngModel'>
              <input type="password" name="password" placeholder="password" ngModel required #password='ngModel'>
              <div *ngIf='error' class="error"><span style="color: red;">{{ error }}</span></div>
              <button type="submit" [disabled]='!f.valid'>submit</button>
              <span>Already on MOVIESFLIX ?<a routerLink='../../auth/login'>Login</a></span>
        </form>
    </div>
</section>
