@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
main{
  background-color: rgb(20, 19, 19);
}
.wrap{
  width: 90%;
  margin: auto;
}
#sec1{
  background: url('../../assets/images/oh3st6to73r21.jpg');
  background-position: center;
  background-size: cover;
  height: 60vh;
}
.layer{
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;

}
/* quote section*/
.quote{
  color: rgb(255, 255, 255);
  width: 40%;
  align-self: center;
}
.quote h1{
  padding-left: .4em;
  padding-bottom: .4em;
  font-weight: 700;
}
.quote p {
  padding-bottom: .4em;
  font-size: 1.4em;
}
/* search section*/
.search{
  align-self: center;
  text-align: left;
  width: 40%;
}
.search input{
  width: 50%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: rgb(0, 0, 0);
  font-weight: normal;
}
.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 18px;
}
/* grid system */
#sec2 h2{
  color: #0fcbe4;
  text-transform: capitalize;
  font-weight: 700;
  padding-left: 0.5em;
  margin-top: .4em;
}
.grid{
  display: grid;
  grid-template-columns: repeat(20,auto);
  grid-gap: 1em;
  margin-top: 1em;
  width: auto;
  overflow: auto;
  overflow-y: hidden;

}
.card{
  min-width: 327px;
  border: none;
  text-align: center;
  position: relative;
  margin-bottom: 1em;
  background-color: rgb(20, 19, 19);
  color: #fff;
  transition: all 0.5s ease;
  padding-bottom: 1em;
}
.card:hover{
  transform: scale(1.1);
  z-index: 3;
}
.card p{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #0fcbe4;
  border-bottom-left-radius: 2em;
  text-align: center;
  padding: 28px 15px 15px 15px;
  visibility: hidden;
}
.card:hover p {
  visibility: visible;
}
.card p:hover{
  background-color: #71e8f8;
}
.card button{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0fcbe4;
  padding: 10px 20px;
  border-radius: 2em;
  border: none;
  color: rgb(255, 255, 255);
  visibility: hidden;
  transition: all 0.2s ease;
}
.card:hover button {
  visibility: visible;
  transform: translate(50%,50%);
  top: 35%;
  left: 29%;
}
.card button:hover{
  background-color: #71e8f8;
}
.card h4{
  padding-top: 1em;
}

/* scrollbar */
::-webkit-scrollbar {
  height: 8px;
  width: 4px;
  border-radius: 50%;
}
::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgb(20, 19, 19);
}
::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #71e8f8;
}
