<main>
  <div class="wrap">
    <section id="sec1">
      <div class="layer">
        <div class="quote">
          <h1>Movies</h1>
          <p>Movies move us like nothing else can, whether they’re scary, funny,
             dramatic, romantic or anywhere in-between. So many titles, so much to
              experience.</p>
        </div>
        <div class="search">
          <input type="text" placeholder="Search a movie" name="search" (input)='Query($event)'>
          <button type="submit" class="searchButton" (click)='Search()'><i class="fa fa-search"></i></button>
        </div>
      </div>
    </section>
    <section id="sec2" *ngIf='search'>
      <h2>Searching Results</h2>
      <div class="grid" >
        <div class="card" *ngFor='let srch of search.results'>
          <img src="https://image.tmdb.org/t/p/w500/{{srch.poster_path}}" alt="">
          <p>{{srch.vote_average}}</p>
          <button>view</button>
          <h4>{{srch.title}}</h4>
        </div>
      </div>
    </section>
    <section id="sec2">
      <h2>On trending</h2>
      <div class="grid" >
        <div class="card" *ngFor='let trend of trending.results'>
          <img src="https://image.tmdb.org/t/p/w500/{{trend.poster_path}}" alt="">
          <p>{{trend.vote_average}}</p>
          <button>view</button>
          <h4>{{trend.title}}</h4>
        </div>
      </div>
    </section>
  </div>
</main>
