@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
main{
  background-image: linear-gradient(to right,RGB(11,14,22) ,RGB(8,11,19));
  padding-bottom: 3em;
}
.grid{
  width: 98%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: transparent;
}
.card{
  width: 20%;
  margin: 1em;
  border: 1px solid white;
  border-radius: 2em;
  color: transparent;
  transition: all 0.5s ease;
  text-align: center;
  position: relative;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}
.card:hover{
  transform: scale(1.1);
  z-index: 3;
}
.card p{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #0fcbe4;
  border-bottom-left-radius: 2em;
  text-align: center;
  padding: 28px 15px 15px 15px;
  visibility: hidden;
  border-top-right-radius: 2em;
  color: rgb(255, 255, 255);
}
.card:hover p {
  visibility: visible;
}
.card p:hover{
  background-color: #71e8f8;
}
.card button{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0fcbe4;
  padding: 10px 20px;
  border-radius: 2em;
  border: none;
  color: rgb(255, 255, 255);
  visibility: hidden;
  transition: all 0.2s ease;
}
.card:hover button {
  visibility: visible;
  transform: translate(50%,50%);
  top: 35%;
  left: 29%;
}
.card button:hover{
  background-color: #71e8f8;
}
.card h4{
  padding: .5em;
  color: rgb(247, 247, 247);
}
h1{
  color:  rgb(255, 255, 255);
  font-weight: bold;
}
.header{
  width: 50%;
  padding: 1.5em;
  margin: auto;
  text-align: center;
  background-color: transparent;
}

/* search section*/
.search{
  text-align: center;
  width: 80%;
  margin: auto;
  height: 5em;
  padding-top: 2em;
}
.search input{
  width: 50%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: rgb(0, 0, 0);
  font-weight: normal;
}
.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 18px;
}
